.auth-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.auth-container .auth-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 350px;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-turquoise-25);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
}

.auth-container .auth-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.auth-container img {
    position: absolute;
    background-color: var(--color-white);
    padding: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: -50px;
    left: -50px;
    height: 100px;
}

.auth-container input,
.auth-container button {
    width: 100%;
}
