.message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message {
    max-width: 70%;
    padding: var(--spacing-m);
    margin: var(--spacing-m);
    border-radius: 15px;
    font-size: var(--font-p);
}

.message.right {
    align-self: flex-end;
    background-color: var(--color-turquoise-light);
}

.message.left {
    align-self: flex-start;
    background-color: var(--color-violet-light);
}

.message-info {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-small);
}

.message-username {
    color: var(--color-black);
}

.message-date {
    color: var(--color-gray);
}
