/* Styles de base pour Notif */
.Notif {
    display: flex;
    gap: 15px;
    position: fixed;
    bottom: 2.5vh;
    left: 2.5vw;
    background-color: var(--color-gray);
    color: var(--color-white);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 4;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
}

.Notif.success {
    background-color: var(--color-success);
    border: 2px solid var(--color-success);
}

.Notif.error {
    background-color: var(--color-error);
    border: 2px solid var(--color-error);
}

.Notif.warning {
    background-color: var(--color-warning);
    border: 2px solid var(--color-warning);
}

.Notif.info {
    background-color: var(--color-info);
    border: 2px solid var(--color-info);
}

.Notif.default {
    background-color: var(--color-turquoise);
    border: 2px solid var(--color-turquoise);
}
